* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.backImg {
    opacity: 0.4;
}

#fundo {
    background-color:rgb(161, 156, 156);

    width: 50%;
    margin: auto;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.globalDiv {
    align-items: center;
    text-align: center;
}

body {
    background-color: #87cefa;
    position: relative;
}

.títuloDoH1 {
    font-size: 30px;
    letter-spacing: 10px;
    color: #244;
    text-shadow: 6px 6px 8px #000000;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    
}

.btn1Tristeza, .btn2Medo, .btn3Raiva, .btn4Tristeza {
    font-weight: bold;
    border-radius: 100%;
    font-size: 20px;
    width: 100px;
    height: 100px;
    background-color: #244;
    color: #7b7b7b;
    cursor: pointer;
    position: fixed;
    z-index: 999;
    animation: move 4s ease-in-out infinite; /* Adiciona animação */
    transition: background-color 0.3s, box-shadow 0.3s; /* Transição suave */
}

.btn1Tristeza:hover, .btn2Medo:hover, .btn3Raiva:hover, .btn4Tristeza:hover{
    background-color: rgba(255, 255, 255, 0.8); /* Um leve efeito de opacidade ao passar o mouse */
    box-shadow: 0 0 15px 2px rgba(128, 0, 128, 1); /* Efeito neon roxo */
}




/* Botão no canto superior esquerdo */
.btn1Tristeza {
    
    top: 20px;
    left: 20px;
    animation-delay: 0s; /* Animação começa imediatamente */
}

/* Botão no canto superior direito */
.btn2Medo {
    top: 20px;
    right: 20px;
    animation-delay: 1s; /* Animação começa com 1 segundo de atraso */
}

/* Botão no canto inferior esquerdo */
.btn3Raiva {
    bottom: 20px;
    left: 20px;
    animation-delay: 2s; /* Animação começa com 2 segundos de atraso */
}

/* Botão no canto inferior direito */
.btn4Tristeza {
    bottom: 20px;
    right: 20px;
    animation-delay: 3s; /* Animação começa com 3 segundos de atraso */
}

/* Definindo a animação do movimento */
@keyframes move {
    0% {
        transform: translate(0, 0); /* Posição inicial */
    }
    25% {
        transform: translate(50px, -50px); /* Movimento para cima à direita */
    }
    50% {
        transform: translate(-50px, 50px); /* Movimento para baixo à esquerda */
    }
    75% {
        transform: translate(30px, 30px); /* Movimento para baixo à direita */
    }
    100% {
        transform: translate(0, 0); /* Retorno à posição inicial */
    }
}
